<form class="p-6 space-y-4" (ngSubmit)="onSubmit()">

    <!-- Username Field -->
    <label class="block text-gray-600" for="username">Username:</label>
    <input class="block w-full border p-2 rounded" type="text" id="username" name="username" [(ngModel)]="loginData.username" required>
  
    <!-- Password Field -->
    <label class="block text-gray-600" for="password">Password:</label>
    <input class="block w-full border p-2 rounded" type="password" id="password" name="password" [(ngModel)]="loginData.password" required>
  
    <!-- Add more fields if needed -->
  
    <!-- Submit Button -->
    <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600" type="submit">Login</button>
  </form>